a.btn-link-MY {
    color: #a87447;
}

a.btn-link-MY:hover, a.btn-link-MY:visited {
    color: #c4722b !important;
}

a.btn-link-MY:active {
    color: #d99051 !important;
}

a.btn-link-MY:visited {
    color: red;
    /*Ovo ne radi! Ne znam zasto..*/
}

.modal-header, h4 {
    color: #a87447 !important;
    text-align: center;
}

.modal-footer {
    background-color: #f9f9f9;
}

.callout {
    margin: 20px 0 20px 0;
}

.center-row-my {
    display:table;
}
.center-my {
    display:table-cell;
    vertical-align:middle;
    float:none;
}